body {
	background-image: none;
	background-color: #ffffff;
}


#article-page {
    .article_copy img {
        max-width: 270px;
    }
	h1 {
		color: #000000;
		line-height: 25px;
		margin-top: 0px;
		margin-bottom: 0px;
	}


	p, h3 {
		color: #000000;
	}

	.article-content {
		padding-left: 18px;
		padding-right: 18px;
		padding-bottom: 10px;
        padding-top: 10px;
		color: #000000;
        height: 460px;
        overflow: auto;
	}

	.top-bar {
		.top-back-btn {
			float: left;
			margin-top: 9px;
			margin-left: 10px;
		}
		.top-cmetest-btn {
			float: right;
			margin-top: 9px;
			margin-right: 10px;
		}
		.logo-img {
			display: inline;
			margin-left: 32px;
		}
	}



	.search {
		width: 140px;
		float: right;
		margin-right: 5px;
	}

	.article-list, .quizzes-list {
		margin-top: 15px;
		li {
			h3, p {
				margin-left: 14px;
			}
			.article-icon {
				width: 77px;
				height: 77px;
			}
		}
	}

	.title-bar {
		background-image: url('../images/small/bg_grey_top_gradient.png');
		vertical-align: middle;
		.toc-dropdown-btn {
			float: left;
			margin-left: 10px;
			margin-top: 8px;
		}

		.article-menu-btns {
			float: right;
			margin-left: 10px;
			margin-top: 8px;
			img {
				margin-left: 4px;
				margin-right: 4px;
			}
		}

		.back-span {
			float: left;
			margin-top: 6px;
			margin-left: 6px;
			display: inline-block;
		}
		.menu-text-span {
			margin-right: 50px;
		}
	}

	.article-list {
		display: block;
	}

	.quizzes-list {
		display: none;
	}
}
