body {
  background-image: none;
  background-color: #ffffff; }

#article-page .article_copy img {
  max-width: 270px; }
#article-page h1 {
  color: #000000;
  line-height: 25px;
  margin-top: 0px;
  margin-bottom: 0px; }
#article-page p, #article-page h3 {
  color: #000000; }
#article-page .article-content {
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #000000;
  height: 460px;
  overflow: auto; }
#article-page .top-bar .top-back-btn {
  float: left;
  margin-top: 9px;
  margin-left: 10px; }
#article-page .top-bar .top-cmetest-btn {
  float: right;
  margin-top: 9px;
  margin-right: 10px; }
#article-page .top-bar .logo-img {
  display: inline;
  margin-left: 32px; }
#article-page .search {
  width: 140px;
  float: right;
  margin-right: 5px; }
#article-page .article-list, #article-page .quizzes-list {
  margin-top: 15px; }
  #article-page .article-list li h3, #article-page .article-list li p, #article-page .quizzes-list li h3, #article-page .quizzes-list li p {
    margin-left: 14px; }
  #article-page .article-list li .article-icon, #article-page .quizzes-list li .article-icon {
    width: 77px;
    height: 77px; }
#article-page .title-bar {
  background-image: url("../images/small/bg_grey_top_gradient.png");
  vertical-align: middle; }
  #article-page .title-bar .toc-dropdown-btn {
    float: left;
    margin-left: 10px;
    margin-top: 8px; }
  #article-page .title-bar .article-menu-btns {
    float: right;
    margin-left: 10px;
    margin-top: 8px; }
    #article-page .title-bar .article-menu-btns img {
      margin-left: 4px;
      margin-right: 4px; }
  #article-page .title-bar .back-span {
    float: left;
    margin-top: 6px;
    margin-left: 6px;
    display: inline-block; }
  #article-page .title-bar .menu-text-span {
    margin-right: 50px; }
#article-page .article-list {
  display: block; }
#article-page .quizzes-list {
  display: none; }
