
$backgroundpurple:  #2e2942;
$foreground-color: #ffffff;
$font: verdana, arial;

html, body {
	background-color: $backgroundpurple;
	font-family: $font;
	color: $foreground-color;
	background-image: url('../images/small/bg_star_purple.png');
	margin: 0 0 0 0;
}

h1 {
	font-size: 26px;
	font-weight: normal;
	color: #fff;
	display: inline-block;
}

.logo-img {

	float: left;

}

.content {
	width: 320px;
	height: 568px;
        overflow-x: hidden;
        overflow-y: auto;
}

.back-span {
	float: left;
}

.search {
	width: 140px;
	float: right;
	margin-right: 5px;
}

.title-bar {
	text-align: center;
	display: block;
	background-image: url('../images/small/menu_bar_01_fullsize.png');
	background-size: 320px 43px;
	width: 100%;
	height: 43px;
	h1 {
		display: inline;
	}

	.back-span {
		float: left;
		margin-top: 10px;
		margin-left: 8px;
		display: inline-block;
	}
}

.bottom-bar {
	text-align: center;
	display: block;
	background-image: url('../images/small/menu_bar_01_fullsize.png');
	background-size: 320px 43px;
	width: 100%;
	height: 43px;
	h1 {
		display: inline;
	}
}

.ui-li {
	height: 80px;
}

.person-icon {
	float: left;
	margin-left: 15px;
	margin-top: 28px;
}

.house-icon {
	float: right;
	margin-right: 15px;
	margin-top: 28px;
}

p {
	color: #868686;
}

.ui-li-thumb {
	width: 77px;
	height: 77px;
	margin-top: 14px;
	margin-left: 24px;

}

.ui-listview {
	margin-bottom: 0px;
    height: 410px;
    overflow: auto;
}

.subtitle-bar {
	text-align: center;
	display: block;
	background-color: #6B6B6B;
	color: #ffffff;
	background-size: 320px 43px;
	width: 100%;
	height: 21px;
	margin-bottom: 0px;
	h3 {
		display: inline;
		font-size: 1.05em;
		font-weight: normal;
	}
	padding-top: 2px;
}

.double-buttons {
	text-align:center;
	width:260px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 6px;

}

.ui-input-search {
	background-color: #fff;
	color: #2e2942;
	margin-top: 7px;
}

.ui-input-text {
	background-color: #fff;
	color: #2e2942;
}

.ui-body-c {
	color: 	#2e2942;
}

.ui-btn-icon-notext {
	width: 12px;
	height: 12px;
}

.menu-text-span {
	text-align: center;
}

input[type="button"] {
	background-color: none;
}

.ui-field-contain {
	border-width: 0 0 0 0;
}

.ui-btn-hover-c, .ui-btn-up-c {
	border: 0px;
}

.ui-btn-hidden {
	opacity: 1;
	text-indent: 0;
	color: #fff;
	font-size: 22px;
}


.logo-img {
	width: 128px;
	height: 21px;
	margin-top: 6px;
	margin-left: 11px;
}

.top-bar {
	display: block;
	width: 100%;
	height: 39px;
	background-color: #392974;
	margin: 0 0 0 0;
}

input[type=search] {
	text-align: right;
	cursor: pointer;
	display: block;
	width: 100%;
	letter-spacing: 4px;
	word-spacing: 20px;
}

.ui-icon-delete, .ui-btn-text, .ui-btn-inner, .ui-input-clear {
	display: none;
}
