#articles-page .logo-img {
  float: left; }
#articles-page .search {
  width: 140px;
  float: right;
  margin-right: 5px; }
#articles-page .article-list, #articles-page .quizzes-list {
  margin-top: 15px; }
  #articles-page .article-list li h3, #articles-page .article-list li p, #articles-page .quizzes-list li h3, #articles-page .quizzes-list li p {
    margin-left: 14px; }
#articles-page .title-bar {
  vertical-align: middle; }
  #articles-page .title-bar .back-span {
    float: left;
    margin-top: 6px;
    margin-left: 6px;
    display: inline-block; }
  #articles-page .title-bar .menu-text-span {
    margin-right: 50px; }
#articles-page .article-list {
  display: block; }
#articles-page .quizzes-list {
  display: none; }
