#bookmarks-page .logo-img {
  float: left; }
#bookmarks-page .search {
  width: 140px;
  float: right;
  margin-right: 5px; }
#bookmarks-page .bookmarks-list {
  display: block;
  margin-top: 15px; }
#bookmarks-page .bookmarks-listitem-center {
  width: 150px;
  display: inline-block;
  margin-right: 12px;
  position: relative;
  top: -15px; }
#bookmarks-page .ui-li-thumb, #bookmarks-page .pdf-dl-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-top: 25px; }
#bookmarks-page .title-bar {
  vertical-align: middle; }
  #bookmarks-page .title-bar .back-span {
    float: left;
    margin-top: 10px;
    margin-left: 8px;
    display: inline-block; }
  #bookmarks-page .title-bar .menu-text-span {
    margin-right: 50px;
    margin-top: 5px; }
    #bookmarks-page .title-bar .menu-text-span h1 {
      font-size: 27px;
      display: inline-block;
      margin-top: 3px; }
#bookmarks-page .right-arrow-icon {
  margin-top: 17px; }
