#bookmarks-page {

	.logo-img {
		float: left;
	}

	.search {
		width: 140px;
		float: right;
		margin-right: 5px;
	}

	.bookmarks-list {
		display: block;
		margin-top: 15px;
	}

	.bookmarks-listitem-center {
		width: 150px; 
		display: inline-block;
		margin-right: 12px;
		position: relative;
		top: -15px;
	}

	.ui-li-thumb, .pdf-dl-icon {
		width: 60px;
		height: 60px;
		display: inline-block;
		margin-top: 25px;
	}

	.title-bar {
		vertical-align: middle;
		.back-span {
			float: left;
			margin-top: 10px;
			margin-left: 8px;
			display: inline-block;	
		}
		.menu-text-span {
			margin-right: 50px;
			margin-top: 5px;
			h1 {
				font-size:27px;
				display: inline-block;
				margin-top: 3px;
			}
		}

				
	}

	.right-arrow-icon {
		margin-top: 17px;
	}

}


