#certificates-page {
	.logo-img {
		
		float: left;

	}

	.search {
		width: 140px;
		float: right;
		margin-right: 5px;
	}

	.certificates-list {
		display: block;
		margin-top: 15px;
		li {
			h3, p {
				margin-left: 14px;
			}
		}
	}


	.certificate-listitem-center {
		width: 150px; 
		display: block;
		float: left;
		margin-right: 12px;
		margin-left: -5px;
	}

	.ui-li-thumb, .pdf-dl-icon {
		width: 60px;
		height: 60px;
		display: inline-block;
	}

	.pdf-dl-icon {
		margin-top: 6px;
		
	}

	.title-bar {
		vertical-align: middle;
		.back-span {
			float: left;
			margin-top: 10px;
			margin-left: 8px;
			display: inline-block;	
		}
		.menu-text-span {
			margin-right: 50px;
			margin-top: 5px;
			h1 {
				font-size:27px;
				display: inline-block;
				margin-top: 3px;
			}
		}

				
	}

}