#certificates-page .logo-img {
  float: left; }
#certificates-page .search {
  width: 140px;
  float: right;
  margin-right: 5px; }
#certificates-page .certificates-list {
  display: block;
  margin-top: 15px; }
  #certificates-page .certificates-list li h3, #certificates-page .certificates-list li p {
    margin-left: 14px; }
#certificates-page .certificate-listitem-center {
  width: 150px;
  display: block;
  float: left;
  margin-right: 12px;
  margin-left: -5px; }
#certificates-page .ui-li-thumb, #certificates-page .pdf-dl-icon {
  width: 60px;
  height: 60px;
  display: inline-block; }
#certificates-page .pdf-dl-icon {
  margin-top: 6px; }
#certificates-page .title-bar {
  vertical-align: middle; }
  #certificates-page .title-bar .back-span {
    float: left;
    margin-top: 10px;
    margin-left: 8px;
    display: inline-block; }
  #certificates-page .title-bar .menu-text-span {
    margin-right: 50px;
    margin-top: 5px; }
    #certificates-page .title-bar .menu-text-span h1 {
      font-size: 27px;
      display: inline-block;
      margin-top: 3px; }
