#menu-page {
    #content {
        height: 600px;
    }

	.logo-img {
		float: left;
	}

	.search {
		width: 140px;
		float: right;
		margin-right: 5px;
	}

	.title-bar {
		vertical-align: middle;
		margin-bottom: 17px;

		.back-span {
			float: left;
			margin-top: 10px;
			margin-left: 8px;
			display: inline-block;	
		}
		.menu-text-span {
			margin-right: 50px;
			margin-top: 5px;
			h1 {
				font-size:27px;
				display: inline-block;
				margin-top: 3px;
			}
		}
	}


	.menu-icons {
		display: block;
		width: 270px;
		height: 255px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		background-image: url('../images/frame3_lg_gradient.png');
		background-size: 280px 248px;
                background-repeat: no-repeat;
		.icon-row {
			width: 250px;
			margin-left: auto;
			margin-right: auto;
			height: 114px;
			display: block;
			.icon-image {
				width: 116px;
				height: 97px;
			}
			.icon-left {
				float: left;
			}
			.icon-right {
				float: right;
			}
		}
		padding-bottom: 10px;

	}
}


