#menu-page #content {
  height: 600px; }
#menu-page .logo-img {
  float: left; }
#menu-page .search {
  width: 140px;
  float: right;
  margin-right: 5px; }
#menu-page .title-bar {
  vertical-align: middle;
  margin-bottom: 17px; }
  #menu-page .title-bar .back-span {
    float: left;
    margin-top: 10px;
    margin-left: 8px;
    display: inline-block; }
  #menu-page .title-bar .menu-text-span {
    margin-right: 50px;
    margin-top: 5px; }
    #menu-page .title-bar .menu-text-span h1 {
      font-size: 27px;
      display: inline-block;
      margin-top: 3px; }
#menu-page .menu-icons {
  display: block;
  width: 270px;
  height: 255px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/frame3_lg_gradient.png");
  background-size: 280px 248px;
  background-repeat: no-repeat;
  padding-bottom: 10px; }
  #menu-page .menu-icons .icon-row {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    height: 114px;
    display: block; }
    #menu-page .menu-icons .icon-row .icon-image {
      width: 116px;
      height: 97px; }
    #menu-page .menu-icons .icon-row .icon-left {
      float: left; }
    #menu-page .menu-icons .icon-row .icon-right {
      float: right; }
