body {
    background-image: url('../images/small/bg_purple_fullsize.png');
}

.sign-in, .register {
    display: block;
    width: 280px;
    height: 225px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/small/frame3_lg_gradient.png');
    background-size: 280px 248px;
    
    .password {
        width: 140px;
    }
    
    .signin-inputs {
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 20px;

	.signin-input {
	    background-color: #fff;
	}
	.signin-input-area {
	    margin-bottom: 8px;
	}
    }

    .signin-button-div {
	width: 243px;
	margin-left: auto;
	margin-right: auto;
	.signin-btn, .register-btn {
	    height: 39px;
	    width: 243px;
	    background-image: url('../images/small/btn_green.png');
	    margin-left: auto;
	    margin-right: auto;
	}
    }

    

    .auth-tab {
	width: 140px;
	height: 30px;
	padding-top: 6px;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	&.signin-tab {

	    float: left;
	}
	&.register-tab {
	    float: right;
	}
	&.active {
	    background-image: url('../images/small/frame3_tab_selected.png');
	}
	&.inactive {
	    background-image: url('../images/small/frame3_tab_unselected.png');
	}
    }
}






.register {
    display: none;
    .ui-bar, .ui-body {
	padding: .01em 15px;
    }
}
