body {
  background-image: url("../images/small/bg_purple_fullsize.png"); }

.sign-in, .register {
  display: block;
  width: 280px;
  height: 225px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/small/frame3_lg_gradient.png");
  background-size: 280px 248px; }
  .sign-in .password, .register .password {
    width: 140px; }
  .sign-in .signin-inputs, .register .signin-inputs {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 20px; }
    .sign-in .signin-inputs .signin-input, .register .signin-inputs .signin-input {
      background-color: #fff; }
    .sign-in .signin-inputs .signin-input-area, .register .signin-inputs .signin-input-area {
      margin-bottom: 8px; }
  .sign-in .signin-button-div, .register .signin-button-div {
    width: 243px;
    margin-left: auto;
    margin-right: auto; }
    .sign-in .signin-button-div .signin-btn, .sign-in .signin-button-div .register-btn, .register .signin-button-div .signin-btn, .register .signin-button-div .register-btn {
      height: 39px;
      width: 243px;
      background-image: url("../images/small/btn_green.png");
      margin-left: auto;
      margin-right: auto; }
  .sign-in .auth-tab, .register .auth-tab {
    width: 140px;
    height: 30px;
    padding-top: 6px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer; }
    .sign-in .auth-tab.signin-tab, .register .auth-tab.signin-tab {
      float: left; }
    .sign-in .auth-tab.register-tab, .register .auth-tab.register-tab {
      float: right; }
    .sign-in .auth-tab.active, .register .auth-tab.active {
      background-image: url("../images/small/frame3_tab_selected.png"); }
    .sign-in .auth-tab.inactive, .register .auth-tab.inactive {
      background-image: url("../images/small/frame3_tab_unselected.png"); }

.register {
  display: none; }
  .register .ui-bar, .register .ui-body {
    padding: .01em 15px; }
