body {
  background-image: url("../images/small/bg_purple_fullsize.png"); }

#profile-page .title-bar .menu-text-span h1 {
  margin-right: 39px;
  top: .1em;
  position: relative; }
#profile-page .profile {
  display: block;
  width: 280px;
  height: 225px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/small/frame3_lg_gradient.png");
  background-size: 280px 248px; }
  #profile-page .profile .profile-inputs {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center; }
    #profile-page .profile .profile-inputs .profile-input {
      background-color: #fff; }
    #profile-page .profile .profile-inputs .profile-input-area {
      margin-bottom: 8px; }
    #profile-page .profile .profile-inputs h2 {
      display: inline;
      font-size: 1.3em; }
  #profile-page .profile .profile-button-div {
    width: 243px;
    margin-left: auto;
    margin-right: auto; }
    #profile-page .profile .profile-button-div .profile-btn {
      height: 39px;
      width: 243px;
      background-image: url("../images/small/btn_green.png");
      margin-left: auto;
      margin-right: auto; }
  #profile-page .profile .ui-field-contain {
    padding: 0 0 0 0; }
  #profile-page .profile .auth-tab {
    width: 140px;
    height: 30px;
    padding-top: 6px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer; }
    #profile-page .profile .auth-tab.profile-tab {
      float: left; }
    #profile-page .profile .auth-tab.register-tab {
      float: right; }
    #profile-page .profile .auth-tab.active {
      background-image: url("../images/small/frame3_tab_selected.png"); }
    #profile-page .profile .auth-tab.inactive {
      background-image: url("../images/small/frame3_tab_unselected.png"); }
