body {
	background-image: url('../images/small/bg_purple_fullsize.png');

}

#profile-page {
	.title-bar {
		.menu-text-span h1 {
			margin-right: 39px;
			top: .1em;
			position: relative;
		}
	}


	.profile {
		display: block;
		width: 280px;
		height: 225px;
		padding-top: 0px;
		padding-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
		background-image: url('../images/small/frame3_lg_gradient.png');
		background-size: 280px 248px;

		.profile-inputs {
			width: 220px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0px;
			margin-top: 20px;

			.profile-input {
				background-color: #fff;
			}
			.profile-input-area {
				margin-bottom: 8px;
			}
			text-align: center;

			h2 {
				display: inline;
				font-size: 1.3em;
			}
		}

		.profile-button-div {
			width: 243px;
			margin-left: auto;
			margin-right: auto;
			.profile-btn {
				height: 39px;
				width: 243px;
				background-image: url('../images/small/btn_green.png');
				margin-left: auto;
				margin-right: auto;
			}
		}

		.ui-field-contain {
			padding: 0 0 0 0;
		}


		.auth-tab {

			width: 140px;
			height: 30px;
			padding-top: 6px;
			vertical-align: middle;
			text-align: center;
			font-size: 20px;
			color: #fff;
			cursor: pointer;
			&.profile-tab {

				float: left;
			}
			&.register-tab {
				float: right;
			}
			&.active {
				background-image: url('../images/small/frame3_tab_selected.png');
			}
			&.inactive {
				background-image: url('../images/small/frame3_tab_unselected.png');
			}
		}
	}
}





