body {
  background-image: none;
  background-color: #ffffff; }

#quiz-page h1 {
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block; }
#quiz-page p, #quiz-page h3 {
  color: #000000; }
#quiz-page .quiz-content {
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 10px;
  color: #000000; }
  #quiz-page .quiz-content ol.quiz-answers {
    list-style-type: lower-alpha;
    list-style-position: inside;
    color: #ffffff;
    padding-left: 0px; }
  #quiz-page .quiz-content .quiz-answer-li {
    /* color: #ffffff; */
    margin-bottom: 8px;
    width: 280px;
    padding: 4px 4px 4px 4px;
    font-size: 14px;
    color: #2e2942;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px; }
  #quiz-page .quiz-content .quiz-answer-li:hover {
    color: #ffffff;
    background-color: #392974; }
#quiz-page .quizsurvey {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px; }
#quiz-page .downloadcertificate {
  display: none; }
#quiz-page .quizresults {
  padding-top: 5px; }
  #quiz-page .quizresults h1 {
    display: block; }
  #quiz-page .quizresults .getcredit {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  #quiz-page .quizresults .result {
    margin-top: 10px; }
    #quiz-page .quizresults .result .correct {
      float: left; }
      #quiz-page .quizresults .result .correct p {
        color: green; }
    #quiz-page .quizresults .result .number {
      float: left;
      margin-left: 4px; }
      #quiz-page .quizresults .result .number h1 {
        width: 20px;
        font-size: 24px; }
    #quiz-page .quizresults .result .resultcopy {
      float: left;
      width: 215px;
      text-align: justify;
      margin-left: 8px;
      margin-top: -15px; }
      #quiz-page .quizresults .result .resultcopy .answercopy {
        color: #000000; }
  #quiz-page .quizresults .quizsummary {
    float: left;
    display: block;
    margin-left: 8px;
    margin-right: 8px; }
#quiz-page .top-bar .top-back-btn {
  float: left;
  margin-top: 9px;
  margin-left: 10px; }
#quiz-page .top-bar .top-cmetest-btn {
  float: rxight;
  margin-top: 9px;
  margin-right: 10px; }
#quiz-page .top-bar .logo-img {
  display: inline;
  margin-left: 32px; }
#quiz-page .search {
  width: 140px;
  float: right;
  margin-right: 5px; }
#quiz-page .quiz-list, #quiz-page .quizzes-list {
  margin-top: 15px; }
  #quiz-page .quiz-list li h3, #quiz-page .quiz-list li p, #quiz-page .quizzes-list li h3, #quiz-page .quizzes-list li p {
    margin-left: 14px; }
#quiz-page .title-bar {
  background-image: url("../images/small/bg_grey_top_gradient.png");
  vertical-align: middle; }
  #quiz-page .title-bar .toc-dropdown-btn {
    float: left;
    margin-left: 10px;
    margin-top: 8px; }
  #quiz-page .title-bar .quiz-menu-btns {
    float: right;
    margin-left: 10px;
    margin-top: 8px; }
    #quiz-page .title-bar .quiz-menu-btns img {
      margin-left: 4px;
      margin-right: 4px; }
  #quiz-page .title-bar .back-span {
    float: left;
    margin-top: 6px;
    margin-left: 6px;
    display: inline-block; }
  #quiz-page .title-bar .menu-text-span {
    margin-right: 50px; }
#quiz-page .quiz-list {
  display: block; }
#quiz-page .quizzes-list {
  display: none; }
