body {
	background-image: none;
	background-color: #ffffff;
}

#quiz-page {
	h1 {
		color: #000000;
	        margin-top: 0px;
		margin-bottom: 0px;
	        display: block;
        }

        
        
	p, h3 {
		color: #000000;
	}

	.quiz-content {
		padding-left: 18px;
		padding-right: 18px;
		padding-bottom: 10px;
		color: #000000;

		ol.quiz-answers {
		    list-style-type: lower-alpha;
		    list-style-position: inside;
		    color: #ffffff;
		    padding-left: 0px;
		}
		.quiz-answer-li {
		    /* color: #ffffff; */
		    margin-bottom: 8px;
		    width: 280px;
		    // height: 31px;
		    padding: 4px 4px 4px 4px;
		    font-size: 14px;
                    color:  #2e2942;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 10px;
		}
                
                .quiz-answer-li:hover {
                   color:  #ffffff;
                   background-color: #392974;
		 
                }
	}
        
        
        .quizsurvey {
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 8px;
         }
        
        .downloadcertificate {
            display: none;
        }
        
        .quizresults {
            padding-top: 5px;
            h1 {
                display: block;
            }
            .getcredit {
                width: 240px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            .result {
                margin-top: 10px;
                .correct {
                    float: left;

                    p {
                        color: green;
                    }
                }
                .number {
                    h1 {
                        width: 20px;
                        font-size: 24px;
                    }
                    float: left;
                    margin-left: 4px;
                }
                .resultcopy {
                    float: left;
                    width: 215px;
                    text-align: justify;
                    margin-left: 8px;
                    margin-top: -15px;
                    .answercopy {
                        color: #000000;
                    }
                
                }


            }
            .quizsummary {
                float: left;
                display: block;
                margin-left: 8px;
                margin-right: 8px;
            }
            
        }

	.top-bar {
		.top-back-btn {
			float: left;
			margin-top: 9px;
			margin-left: 10px;
		}
		.top-cmetest-btn {
			float: rxight;
			margin-top: 9px;
			margin-right: 10px;
		}
		.logo-img {
			display: inline;
			margin-left: 32px;
		}
	}

	

	.search {
		width: 140px;
		float: right;
		margin-right: 5px;
	}

	.quiz-list, .quizzes-list {
		margin-top: 15px;
		li {
			h3, p {
				margin-left: 14px;
			}
		}
	}

	.title-bar {
		background-image: url('../images/small/bg_grey_top_gradient.png');
		vertical-align: middle;
		.toc-dropdown-btn {
			float: left;
			margin-left: 10px;
			margin-top: 8px;
		}

		.quiz-menu-btns {
			float: right;
			margin-left: 10px;
			margin-top: 8px;
			img {
				margin-left: 4px;
				margin-right: 4px;
			}
		}

		.back-span {
			float: left;
			margin-top: 6px;
			margin-left: 6px;
			display: inline-block;	
		}
		.menu-text-span {
			margin-right: 50px;
		}
	}

	.quiz-list {
		display: block;
	}

	.quizzes-list {
		display: none;
	}
}






