#search-page .search-list {
  background-color: #fff; }
  #search-page .search-list .li {
    overflow: hidden; }
#search-page .search-list p {
  font-size: 12px;
  display: block;
  font-weight: normal;
  width: 220px;
  padding-left: 5px;
  margin-top: -13px; }
#search-page .logo-img {
  float: left; }
#search-page .search {
  width: 140px;
  float: right;
  margin-right: 5px; }
#search-page .article-list, #search-page .quizzes-list {
  margin-top: 15px; }
  #search-page .article-list li h3, #search-page .article-list li p, #search-page .quizzes-list li h3, #search-page .quizzes-list li p {
    margin-left: 14px; }
#search-page .title-bar {
  vertical-align: middle; }
  #search-page .title-bar .back-span {
    float: left;
    margin-top: 6px;
    margin-left: 6px;
    display: inline-block; }
  #search-page .title-bar .menu-text-span {
    margin-right: 50px; }
