#search-page {
    .search-list {
        .li {
            overflow: hidden;
            }
        background-color: #fff;
    }
    
    .search-list p {
        font-size: 12px;
        display: block;
        font-weight: normal;
        width: 220px;
        padding-left: 5px;
        margin-top: -13px;
    }
    .logo-img {
		float: left;
	}

	.search {
		width: 140px;
		float: right;
		margin-right: 5px;
	}

	.article-list, .quizzes-list {
		margin-top: 15px;
		li {
			h3, p {
				margin-left: 14px;
			}
		}
	}

	.title-bar {
		vertical-align: middle;
		.back-span {
			float: left;
			margin-top: 6px;
			margin-left: 6px;
			display: inline-block;	
		}
		.menu-text-span {
			margin-right: 50px;
		}
	}

	
}






